<div class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="" class="text-2xl font-bold">Pet Rental</a>

    <nav class="space-x-4">
      <button class="hover:underline">Home</button>
      <button (click)="toggleDropdown()" class="hover:underline">Pets</button>
      <button class="hover:underline">Rentals</button>
      <div *ngIf="showDropdown" class="relative inline-block text-left">
        <div
          class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <button
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
            >
              Dogs
            </button>
            <button
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1"
            >
              Cats
            </button>
            <button
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2"
            >
              Birds
            </button>
          </div>
        </div>
      </div>
      <!-- <a routerLink="/rentals" class="hover:underline">Rentals</a> -->
    </nav>

    <!-- <div class="space-x-4">
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loggedOut>
        <button (click)="login()">Login</button>
      </ng-template>
    </div> -->
  </div>
</div>
